<header class="wow fadeInDown  header">
  <%= link_to root_path do %>
    <i class="fa fa-home"></i>
  <% end %>
  <h1 class="header__h1">
    Mac OS Set Up
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <%= link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <%= link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div class="row essentialoruseful">
    <article class="wow fadeInDown home__article home__article--essential">
      <%= link_to 'Essential tools', essentialmac_path %>
    </article>
    <article class="wow fadeInUp home__article home__article--useful">
      <%= link_to 'Useful tools', usefulmac_path %>
    </article>
</div>
