<header class="wow fadeInDown header essentialtools">
  <%= link_to root_path do %>
    <i class="fa fa-home"></i>
  <% end %>
  <h1 class="header__h1">
    Essential tools
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <%= link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <%= link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div class="row essentialtools">
    <div class="wow fadeInDown essentialtools__col essentialtools__col--1 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>Xcode</h3>
      <%= image_tag 'Xcode-original.png', :class => 'logo__columns' %>
      <%= link_to "Set up Xcode", xcodemac_path %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--2 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>Homebrew</h3>
      <%= link_to "Set up Homebrew", homebrewmac_path %>
    </div>
    <div class="wow fadeInUp essentialtools__col essentialtools__col--3 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>RVM &amp; Ruby</h3>
      <%= link_to "Set up Ruby", rubyandrvmmac_path %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--4 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>Pry</h3>
      <%= link_to "Set up Pry", prymac_path %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--5 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>Heroku</h3>
      <%= link_to "Set up Heroku", herokumac_path %>
    </div>
</div>
