<header class="wow fadeInDown header home">
  <h1 class="header__h1">
    Dev Environment Setup
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <%= link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <%= link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div class="row home">
    <div class="wow slideInLeft home__col home__col--1 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>X code</h3>
      <%= link_to "Set up Xcode", xcode_path %>
    </div>
    <div class="wow slideInRight home__col home__col--4 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>Homebrew</h3>
      <%= link_to "Set up Homebrew", homebrew_path %>
    </div>
    <div class="wow slideInLeft home__col home__col--2 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>RVM &amp; Ruby</h3>
      <%= link_to "Set up Ruby", ruby_and_rvm_path %>
    </div>
    <div class="wow fadeInDown home__col home__col--3 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>Pry</h3>
      <%= link_to "Set up Pry", pry_path %>
    </div>
    <div class="wow slideInRight home__col home__col--5 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <h3>Heroku</h3>
      <%= link_to "Set up Heroku", heroku_path %>
    </div>
</div>
