<h1 class="header__h1">Dev Environment Setup</h1>
<div class="row">
    <div class="home__col home__col--1 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <h3>X code</h3>
    <%= link_to "Set up Xcode", xcode_path %>
    </div>
    <div class="home__col home__col--2 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <h3>RVM &amp; Ruby</h3>
    <%= link_to "Set up Ruby", ruby_and_rvm_path %>
    </div>
    <div class="home__col home__col--3 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <h3>Pry</h3>
    <%= link_to "Set up Pry", pry_path %>
    </div>
    <div class="home__col home__col--4 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <h3>Git</h3>
    <%= link_to "Set up Git", git_path %>
    </div>
    <div class="home__col home__col--5 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <h3>Heroku</h3>
    <%= link_to "Set up Heroku", heroku_path %>
    </div>
</div>
